
footer {
    display: flex;

}
.bg-dark {
    --bs-bg-opacity: 0.1 !important;
}
.text {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    align-items: center;
    color: #DFCDDB;
    
}
.redes {
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: aliceblue;
   
}
a.social {
    justify-content: space-around;
 
}

a.link {
    color:aliceblue;
    text-decoration: none;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height:40px;
    margin-inline: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    
}

a.link:hover {
    color:aliceblue !important;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
 
}
.footer-text {
    color: #DFCDDB;
}
.firma  {
    color: #DFCDDB;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.firma:hover {
    color:#F10086;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .logo, .text, .footer-text {
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}