@font-face {
  font-family: Inter;
  src: url('/public/fonts/Inter.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('/public/fonts/Poppins.ttf');
}

body  {
  overflow-x: hidden;
  min-height: 100vh;

}


p {
  font-family: 'Poppins', sans-serif;
  }
label {
  /* color: #FFF5E5; */
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.figure-caption {
  display: flex;
  justify-content: flex-start;
  
}

select.form-select, textarea.form-control, input.form-control {
  background:  #DFCDDB;
  border-radius: 0%;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border-style: none;
  border-color: transparent;
}
input.form-control {
  height: 60px;
  width: 100px;
  background-color: transparent;
  border-style: none; 
}


option, select {
  background-color: #180A0A;
  color: #DFCDDB;
  font-family: 'Poppins';
}

.form-select:focus{
  border-style: none;
  border-color: transparent;
}
option.form-select:focus {
  background-color: #F582A7;
}


input[type="range"] {
  appearance: none;
  border-radius: 50px;

}

/* Input Thumb */

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  cursor: pointer;
 
  transition: .3s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow:  0px 15px 20px rgba(253, 183, 205, 0.4);
  transform:scale(1.25);
  outline: none;
}

#customRange2 {
  border-radius: 10px;
}
h1 {
  color: #fff;
  font-size: 4em !important;
}
h1,
#texto-meme {
    /* width: auto; */
    padding-top: 20px;
    /* padding-left: -100px;  */
    font-family: impact, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
      2px 2px 5px #000;
 
}


.btn {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  width: 90%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  outline: none;
  border-radius: 100px !important;
  border:none !important;
 
}


.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
   -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}






