.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
#dark {
    background-color: #121212;
}
#dark label {
    color: #FFF5E5;
}
#light {
    background-color: #FFF5E5;
}
#light label {
    color: rgba(0, 0, 0, 0.87);
}
div.react-switch-bg {
    background-image: linear-gradient(45deg, #4568dc, #b06ab3) !important;
}